<div class=container>
  <div class = "column-center">

    <h4> Photos for <%= @user.username %> /h4><hr>
    <ul>
       <% @user.photos.uniq.each do |photo| %>
        <li>
          <%= link_to photo.title, photo_path(photo) %>
          <%= image_tag photo.image.url(:thumb) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class ="column-left">
    <div class ="col-md-4">

    </div>
  </div>
  <div class = "column-right">
    <p align="center"><%= link_to "Edit Tag", edit_user_path(@user) %></p>
    <p align="center"><%= link_to "Delete Tag", user_path(@user),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %></p>
  </div>
