<div class="container">
  <div class="column-center">
    <h1><%= @photo.title %></h1>
    <%= image_tag @photo.image.url(:large) %>
    <p><%= @photo.description %></p>
  </div>

  <div class="column-left">
  </div>

  <div class = "column-right">
    <%= render "user_select"%>
     <% @photo.users.uniq.each do |user| %>
      <li>
        <%= link_to user.username ,user_path(user)  %>
      </li>
    <% end %>


    <p align="center"><%= link_to "Edit Photo", edit_photo_path(@photo) %></p>
    <p align="center"><%= link_to "Delete Photo", photo_path(@photo),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %></p>
  </div>

</div>
